<!DOCTYPE html>
<html lang="en">

<head>
    <title>2022 iThome 鐵人賽 - 讓 C# 也能很 Social</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- jquery CDN include -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <!-- CSS include -->
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <script>
        let baseLoginPayUrl = 'https://localhost:7040/api/LinePay/';
        let transactionId = "";
        let orderId = "";

        window.onload = () => {
            // 取出 query parameter 中的 transactionId & orderId
            const params = new Proxy(new URLSearchParams(window.location.search), {
                get: (searchParams, prop) => searchParams.get(prop),
            });

            transactionId = params.transactionId;
            orderId = params.orderId;
        }

        function confirmPayment() {
            // 交易訂單假資料
            payment = {
                amount: 3998,
                currency: "TWD",
            };
            //  送出確認交易
            $.post({
                url: baseLoginPayUrl + `Confirm?transactionId=${transactionId}&orderId=${orderId}`,
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(payment),
                success: (res) => {
                    $("#paymentStatus").text("交易狀態 : 成功")
                    console.log(res);

                    setTimeout(() => {
                        window.location = "https://localhost:7123/Orders/products";
                    }, 2000);
                },
                error: (err) => {
                    console.log(err);
                }
            })
        }
    </script>
    <!-- 最上方的 bar -->
    <div class="topnav">
        <a href="https://cccf-61-63-154-173.jp.ngrok.io/login.html">Line Login</a>
        <a href="https://cccf-61-63-154-173.jp.ngrok.io/profile.html">User Profile</a>
        <a href="https://cccf-61-63-154-173.jp.ngrok.io/products.html">Line Pay</a>
    </div>
    <center>
        <table>
            <thead>
                <tr>
                    <th colspan="2"> 測試商品 </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2"><img src="https://static.accupass.com/org/2011051025162614811630.jpg"></td>
                </tr>
                <tr>
                    <td colspan="2"> 價格 : 1999 </td>
                </tr>
                <tr>
                    <td colspan="2"> 購買數量 : 2 </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: right;"> 總金額 : 3998 </td>
                </tr>
                <tr>
                    <td align="center" colspan="2"><button onclick="confirmPayment()"> 確認付款</button></td>
                </tr>
            </tbody>
        </table>

        <div class="Container">
            <a id="paymentStatus">交易狀態 : 交易已授權，等待確認<a>
        </div>
    </center>
</body>

</html>