<style>
		.op {
			background-image:linear-gradient(to top, rgba(255,255,255,0.7), rgba(255,255,255,0)), url("/Images/Banner.jpg");
			width: 100%;
			height: 300px;
			background-repeat:no-repeat;
			display: inline-block;
			background-position: center;
		}

	</style>

<div id="app">
	<center>
		<table class="table">
			<thead>
				<tr>
					<th class="op"><h2 class="fs-1 text-white d-flex justify-content-end ">{{ PayInfoDto.contests }}</h2></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>組別 : {{ PayInfoDto.category }}</td>
				</tr>
				<tr>
					<td>距離 : {{ PayInfoDto.distance }}</td>
				</tr>
				<tr>
					<td>
						費用 : {{ PayInfoDto.enterFee }}
					</td>
				</tr>
				<tr>
					<td>
						<button class="btn btn-primary mx-2" @@click="confirmPayment">確認付款</button>
						{{ paymentStatus }}
					</td>
				</tr>
			</tbody>
		</table>
	</center>
</div>

<script src="https://unpkg.com/vue@3.2.29/dist/vue.global.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.3/axios.min.js"></script>
<script>
	var webApiBaseAddress = "https://localhost:7040";

	var vueApp = {
		data() {
			return {
				PayInfoDto: {},
				baseLoginPayUrl: "https://localhost:7040/api/LinePay/",
				transactionId: "",
				orderId: "",
				reg: "",
				payment: {
					amount: 1000,
					currency: "TWD",
				},
				paymentStatus: "交易已授權，等待確認",
			}
		},
		mounted: function () {
			let _this = this;
			_this.getPayInfoDto();
		},
		methods: {
			getPayInfoDto: function () {
				let _this = this;
				axios.get(`${webApiBaseAddress}/api/Orders/PayInfo/${_this.reg}`).then(
					response => {
						_this.PayInfoDto = response.data;
						_this.payment.amount = _this.PayInfoDto.EnterFee;
					}
				);
			},
			confirmPayment() {
				axios
					.post(
						`${this.baseLoginPayUrl}Confirm?transactionId=${this.transactionId}&orderId=${this.orderId}`,
						this.payment
					)
					.then((res) => {
						this.paymentStatus = "交易成功!";
						console.log(res);
						return axios.put(`${webApiBaseAddress}/api/Orders/Paided/${this.PayInfoDto.registrationId}`).then((res) => {
							console.log(res);
							console.log(this.PayInfoDto.registrationId);
							setTimeout(() => {
								window.location = "https://localhost:7123/Registration/RegistrationIndex";
							}, 2000);
						})
					.catch((err) => {
						console.log(err);
					});
					})
					.catch((err) => {
						console.log(err);
					});
			},

		},
		created() {
			// 取出 query parameter 中的 transactionId & orderId
			const params = new URLSearchParams(window.location.search);
			this.transactionId = params.get("transactionId");
			this.orderId = params.get("orderId");
			this.reg = this.orderId.substring(13);
			console.log(this.reg);
		},
	}
	var app = Vue.createApp(vueApp).mount("#app");
</script>