<!DOCTYPE html>
<html lang="en">

<head>
    <title>2022 iThome 鐵人賽 - 讓 C# 也能很 Social</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- jquery CDN include -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <!-- CSS include -->
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <script>
        let baseLoginPayUrl = 'https://localhost:7040/api/LinePay/';
        function requestPayment() {
            // 交易訂單假資料
            payment = {
                amount: 3998,
                currency: "TWD",
                orderId: Date.now().toString(), //使用 Timestamp 當作 orderId
                packages: [
                    {
                        id: "20191011I001",
                        amount: 3998,
                        name: "測試",
                        products: [
                            {
                                name: "測試商品",
                                imageUrl: "https://static.accupass.com/org/2011051025162614811630.jpg",
                                quantity: 2,
                                price: 1999,
                            }
                        ]
                    },
                ],
                RedirectUrls: {
                    ConfirmUrl: "https://localhost:7123/Orders/confirm",
                    CancelUrl: "https://localhost:7040/api/LinePay/Cancel",
                },
            };

            // 送出 交易申請至商家 server
            $.post({
                url: baseLoginPayUrl + "Create",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(payment),
                success: (res) => {
                    window.location = res.info.paymentUrl.web;
                },
                error: (err) => {
                    console.log(err);
                }
            })
        }
    </script>
    <!-- 最上方的 bar -->
    <div class="topnav">
        <a href="https://cccf-61-63-154-173.jp.ngrok.io/login.html">Line Login</a>
        <a href="https://cccf-61-63-154-173.jp.ngrok.io/profile.html">User Profile</a>
        <a href="https://cccf-61-63-154-173.jp.ngrok.io/products.html">Line Pay</a>
    </div>
    <!-- 商品畫面 -->
    <center>
        <table>
            <thead>
                <tr>
                    <th> 測試商品 </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="https://static.accupass.com/org/2011051025162614811630.jpg"></td>
                </tr>
                <tr>
                    <td> 價格 : 1999 </td>
                </tr>
                <tr>
                    <td> 購買數量 : 2 </td>
                </tr>
                <tr>
                    <td style="text-align: right;"> 總金額 : 3998 </td>
                </tr>
                <tr>
                    <td align="center"><button onclick="requestPayment()"> Line Pay 付款</button></td>
                </tr>
            </tbody>
        </table>
    </center>
</body>

</html>