@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@section Styles{
    <style>
.speech-bubble1 {
	position: relative;
	background: #ffff99;
	border-radius: .4em;
    margin-bottom: 5px;
}

.speech-bubble1:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-right-color: #ffff99;
	border-left: 0;
	margin-top: -7px;
	margin-left: -7px;
}
#app{
            width: 80%;
}
    .speech-bubble2 {
	position: relative;
	background: #c6ffb3;
	border-radius: .4em;
        margin-bottom: 5px;
}

.speech-bubble2:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-left-color: #c6ffb3;
	border-right: 0;
	margin-top: -7px;
	margin-right: -7px;
}
        #ip{
            position: fixed;
            bottom: 70px;
            width: 80%;
        }
    </style>
}

<div class="container" id="app">
    <div class="p-2 chat">
        <ul id="list">
        </ul>
    </div>
    <div class="row" id="ip">
        <input class="col-4 m-1" id="userName" placeholder="您的大名" />
        <input class="col-6 m-1" id="message" placeholder="輸入內容" />
        <button class="col-1 m-1" id="send">發送</button>
    </div>
    
</div>

    @section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
        <script>
            var socket;
            var wsUrl = `${document.location.href.replace("http", "ws")}/ws`;
            //alert(wsUrl);
            function connect() {
                socket = new WebSocket(wsUrl);
                socket.onmessage = function (e) {
                    processMessage(e.data);
                }
            }
            var list = document.getElementById('list');
            function processMessage(data) {
                let li = document.createElement('li');
                var content = JSON.parse(data);
                if (content["userName"] === $("#userName").val()) {
                    li.className = "speech-bubble2";
                } else {
                    li.className = "speech-bubble1";
                }
                li.textContent = `${content["userName"]}說:${content["message"]}`;
                list.appendChild(li);
            }

            function sendMessage(msg) {
                if (socket && socket.readyState == WebSocket.OPEN)
                    socket.send(msg);
            }
            connect();
            var message = document.getElementById('message');
            var send = document.getElementById('send');
            message.addEventListener('keydown', function (e) {
                if (e.keyCode === 13) send.click();
            });
            send.addEventListener('click', function () {
                var data = {
                    userName: $("#userName").val(),
                    message: $("#message").val()
                };
                sendMessage(JSON.stringify(data));
            $("#message").val("");
            $("#message").focus();
            });

        var userName = localStorage.getItem("userName");
        userName = '@ViewBag.Account';
        if (userName) {
            $("#userName").val(userName);
            $("#userName").prop("disabled", true);
        } else {
            // 讓使用者輸入自己的userName
            $("#userName").prop("disabled", false);
        }

        // 監聽使用者輸入userName的事件，並存入localStorage中
        $("#userName").on("input", function () {
            var userName = $("#userName").val();
            localStorage.setItem("userName", userName);
        });
        </script>
    }
    admin	20F645C703944A0027ACF6FAD92EC465247842450605C5406B50676FF0DCD5EA
zzz	9D848D4B8D1F0187B55B68BE33B361F939319781A2D517D047A3421CF8329E5D
Tiffany	560D4D8B173DF72E813F0F1914AEB5DF3240B53457000C55A1BAA84FC389FA1E
Ben	C771DD4C558F4901BDAC91E3ED50B4C58E7D88A6532D22BA261B5796736D1DE2
Phoebe	80916973036C3AF16C6BD4E38B1229CDFB096884704FA1BBAA7DD97D8017629B
Theresa	560D4D8B173DF72E813F0F1914AEB5DF3240B53457000C55A1BAA84FC389FA1E
Max	5E0041FFB2EA608962FD639AB01C60F12917D19120EBCB6E937FFD9996CAE563
Ashley	20F645C703944A0027ACF6FAD92EC465247842450605C5406B50676FF0DCD5EA
Ellie	3D4ACDECD5A1DD89957039FDCA66CF494753CABE0776B5C69DEB1EDA5D5E3AC0
Lexi	2A6F8457BF8A8CE356E2BA396F3109DD4A04F55E9947667B2D3A13F0F6310087
Stephanie	F2E5AAFC64A04AC704C644CE38C34D1D7F7493561687C66E43EEDA8186744134
Jim	FE2616A8DBC05BDD774A6D3DB2C8365EEE9070C18672A4D8E3C464215C179F6F
Holly	DFE1A1DCD7072043BAB8ADF4E589399A981989F2009C95EBE4E77CE28BA4A15E
