@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewBag.Title = "SentEmail";

}


<p>成功寄出</p>
<p>
    @Html.ActionLink("回到清單", "Index")
</p>