@model IEnumerable<The_fifth_group_FinalProject.Models.ForumSectionBranch>

@section Styles
	{
	<style>
		.row align-items-start {
			border: 2em;
		}
	</style>
}
<div class="container-fluid" id="forumApp">
	<div class="row align-items-middle">
	<div class="modal-header col-3">
		新手上路
	</div>
	</div>
@foreach (var item in Model)
	{	
	@if (item.SectionNameId == 1)
		{
	<div>
				<a href="https://localhost:7123/ForumSectionBranch1Topic/Index">@Html.DisplayFor(modelItem => item.BranchName)</a>
	</div>
		}
	}

	<div class="row align-items-start">
			<div class="modal-header col-3">
				運動賽事	
			</div>
			</div>
	@foreach (var item in Model)
	{
		@if (item.SectionNameId == 2)
		{
			<div>
				<a href="https://localhost:7123/ForumSectionBranch1Topic/Index">@Html.DisplayFor(modelItem => item.BranchName)</a>
			</div>
		}
	}

	<div class="row align-items-start">
				<div class="modal-header col-3">
					心得分享
				
				</div>
	</div>
	@foreach (var item in Model)
	{
		@if (item.SectionNameId == 3)
		{
			<div>
				<a href="https://localhost:7123/ForumSectionBranch1Topic/Index">@Html.DisplayFor(modelItem => item.BranchName)</a>
			</div>
		}
	}

	<div class="row align-items-start">
		<div class="modal-header col-3">
		版務

		</div>
	</div>
	@foreach (var item in Model)
	{
		@if (item.SectionNameId == 4)
		{
			<div>
				<a href="https://localhost:7123/ForumSectionBranch1Topic/Index">@Html.DisplayFor(modelItem => item.BranchName)</a>
			</div>
		}
	}

</div>


@section Scripts
{
<script src="https://unpkg.com/vue@3.2.29/dist/vue.global.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.3/axios.min.js"></script>

	
}