<!DOCTYPE html>
<html>
	<head>		
		<style>			
			body {
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: column;
			min-height: 100vh;
			}
			section {
			display: flex;
			flex-wrap: wrap;
			padding: 20px;
			justify-content: center;
			align-items: center;
			}
			section div {
			margin: 10px;
			padding: 20px;
			box-shadow: 0 0 10px rgba(0,0,0,0.3);
			background-color: #fff;
			text-align: center;
			width: 30%;
			min-width: 250px;
			min-height: 500px;
			}

			section div h2 {
			font-size: 24px;
			margin-bottom: 10px;
			}

			section div p {
			font-size: 16px;
			margin-bottom: 10px;
			line-height: 1.5;
			text-align: justify;
			width: 90%;
			margin-left:auto;
			margin-right: auto;
			}

			section div a {
			background-color: #333;
			color: #fff;
			padding: 10px 20px;
			text-decoration: none;
			font-size: 16px;
			border-radius: 5px;
			display: inline-block;
			margin-top: 10px;
			}

		ul li {
			text-align: left;
		}

		img {
			width: 90%;
			height: 300px;
		}
		</style>
	</head>
	<body>	
		<section>
			<div>			
				<h2>最新消息</h2>
				<ul>					
					<li>3月20日：感謝各位踴躍參加「2023年春季路跑大賽」，大會順利完成，請至我們的網站查看比賽詳情。</li>
					<li>3月18日：新商品上市，包括運動鞋、運動襪等等。</li>
					<li>3月14日：我們很高興地宣布，「2023年春季路跑大賽」的贊助商已經確定，請至我們的網站查看詳情。</li>
					<li>3月12日：「2023年夏季路跑大賽」的報名已經開始，歡迎大家踴躍報名參加！</li>
					<li>3月11日：我們即將推出全新的路跑訓練計畫，敬請期待更多詳情。</li>
					<li>3月10日：感謝各位對我們的支持，新商品包括運動鞋、運動襪等等已經在我們的網站上架，歡迎選購。</li>
					<li>3月9日：我們即將推出「2023年夏季路跑大賽」，敬請期待更多賽事詳情。</li>
					<li>3月6日：我們很榮幸地宣布，知名運動品牌將贊助「2023年夏季路跑大賽」，敬請期待更多詳情。</li>
					<li>3月5日：感謝各位參與「2022年冬季路跑大賽」，我們會盡快公佈成績。</li>
				</ul>			
			</div>
			<div>
				<h2>最新賽事</h2>
				<img src="https://media-mbst-pub-ue1.s3.amazonaws.com/creatr-uploaded-images/2019-06/d061e1b0-9277-11e9-99f7-cb018a071be2">
				<p>我們提供最新的路跑賽事資訊，包括報名方式、賽事地點、路線圖、獎勵等等。</p>
			<a href="/contest/ContestIndex">了解更多</a>
			</div>
			<div>
				<h2>商品促銷</h2>
				<img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/006-1676952990.jpg?crop=1xw:1xh;center,top&resize=980:*" />
				<p>我們的商城提供各種路跑相關商品，現在有許多商品在進行促銷，歡迎前來選購。</p>
			<a href="/products/Index">了解更多</a>
			</div>
			<div>
				<h2>健康知識</h2>
			<img src="https://img.sportsv.net/img/article/cover/8/98878/fit-sAkdjeU4ih-945x495.jpg" />
				<p>我們提供最新的健康知識，包括訓練技巧、運動保健、飲食營養等等，讓你成為更健康的路跑選手。</p>
			<a href="/CustomerService/Index">了解更多</a>
			</div>
			<div>
				<h2>社群分享</h2>
			<img src="https://www.upmedia.mg/upload/article/20220514143443800042.jpg" />
				<p>我們的論壇是一個交流路跑賽事、經驗、技巧的平台，歡迎加入我們的社群。</p>
			<a href="/ForumSectionBranches/index">了解更多</a>
			</div>
			<div>
				<h2>贊助廠商</h2>
			<img src="https://cdntwrunning.biji.co/808_0d397104a6cbd4ddc4e8e66f2d4a7215069059b7ef840f0c74a814ec9237b6ec.JPG" />
				<p>我們的賽事得到了許多知名品牌的支持與贊助，包括運動裝備、運動飲料等等，感謝他們對路跑運動的支持。</p>
				<a href="/home/PartnerIndex">了解更多</a>
			</div>
		</section>	
	</body>
</html>
