@section Styles{
    <style>
        .content {
            min-height: 600px;
            line-height: 2;
            font-weight: 300;
            padding-top: 30px;
            text-align: justify;
        }
        .content h3 {
            display: block;
            font-size: 24px;
            color: #46A3FF;
            border-bottom: 1px solid#46A3FF;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        ul.partner-list {
            padding-top: 60px;
            padding-left: 0px;
            padding-right: 0px;
        }
        ul.partner-list li {
            list-style: none;
            display: block;
            height: auto;
            overflow: hidden;
            padding-bottom: 40px;
            border-bottom: 5px solid #46A3FF;
            margin-bottom: 40px;
        }
        .partner-logo {
            width: 240px;
            float: left;
        }
        .partner-logo img {
            width: 100%;
            height: auto;
        }
        .partner-cont {
            margin-left: 280px;
        }
        .content h1 {
            font-size: 30px;
            padding-top: 5px;
            padding-bottom: 5px;
            border-left: #46A3FF solid 40px;
            display: block;
            color: #46A3FF;
            padding-left: 10px;
            line-height: 35px;
            font-weight: 800;
            margin-top: 60px;
            margin-bottom: 20px;
        }
        .partner-cont h3 {
            margin-bottom: 40px;
        }
        .partner-cont p {
            padding-left: 0px;
            padding-right: 0px;
            color: #000;
        }
        .partner-cont a.partner-link {
            display: block;
            width: 130px;
            height: 30px;
            background-image: url(../img/go-link.png);
            background-position: right;
            text-align: right;
            padding-right: 20px;
            line-height: 30px;
            margin-top: 40px;
            float: right;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            color: #FFF;
        }
        .partner-cont a.partner-link:hover {
            padding-right: 40px;
            text-decoration: none;
        }
    </style>
}
<html>
    <body>
        <section>
            <div id="app">
                <div class="content">
                    <h1>合作夥伴</h1>
                    <ul class="partner-list">    
                        <li>
                        <div class="partner-logo"><img src="https://www.taipeifreewaymarathon.com/pro_imgs/20211203113057.jpg" alt="和碩聯合科技股份有限公司"></div>
                            <div class="partner-cont">
                                <h3>和碩聯合科技股份有限公司</h3>
                                <p>
                                    和碩聯合科技股份有限公司 (以下簡稱和碩) 於2008年1月1日正式成立。秉持著豐厚的產品發展經驗及生產流程的垂直整合製造能力，致力提供客戶從創意設計到系統化的生產製造服務等一貫流程，完整、有效地滿足顧客的需求。和碩有堅強的研發陣容、親切與快速的服務品質，以及高度的員工向心力，並結合EMS與ODM產業，成為新興之DMS (設計整合服務製造 ) 企業，也因此能領先競爭者，提供最先進的產品，與有利的商機給合作夥伴。<br>
                                    &nbsp;
                                </p>
                                <p>&nbsp;</p>
                            </div>
                        </li>
                        <li>
                        <div class="partner-logo"><img src="https://www.taipeifreewaymarathon.com/pro_imgs/20210601035650.jpg" alt="博威運動科技股份有限公司"></div>
                            <div class="partner-cont">
                                <h3>博威運動科技股份有限公司</h3>
                                <p><span style="color:rgb(0, 0, 0); font-family:微軟正黑體">BraveLog致力於提升跑者在馬拉松賽事現場的體驗，期望能利用現代科技與資訊的力量，為跑友們帶來更多的運動樂趣。目前，BraveLog是臺灣唯一擁有提供完賽成績查詢服務的團隊。在BraveLog官網上，可以在賽後立即看到選手的完賽成績，也可以讓任何人在比賽中追蹤選手目前的位置和跑速。現在就把BraveLog網站加入我的最愛，當個數位時代的智慧跑者！</span>
                                </p>
                            <p>&nbsp;</p>
                            </div>
                        </li>
                        <li>
                        <div class="partner-logo"><img src="https://www.taipeifreewaymarathon.com/pro_imgs/20211124100242.jpg" alt="臺銀人壽"></div>
                            <div class="partner-cont">
                                <h3>臺銀人壽</h3>
                                <p>臺銀人壽保險公司是一家100%國營壽險公司，隸屬於臺灣金控集團，除了致力為國人提供多元壽險保障以及理財之商品、提升保戶服務外，一直以來對於環境永續、社會關懷及公司治理(ESG)的發展與投入不遺餘力，拋磚引玉吸引認同我們理念的伙伴加入，就如臉部平權精神，為社會注入關懷與溫暖，讓陽光普照在我們家園。</p>
                            <p>&nbsp;</p>
                            </div>
                        </li>
                        <li>
                        <div class="partner-logo"><img src="https://www.taipeifreewaymarathon.com/pro_imgs/20221229155725.jpg" alt="Footer"></div>
                            <div class="partner-cont">
                                <h3>Footer</h3>
                                <p>
                                    Footer創立於2013年，主力商品為『會呼吸的機能襪』，十年內狂銷超過千萬雙。秉持品質、設計感的機能性產品，特別引進日本獨家抑菌技術，將抑菌功能織進每一根紗線裡，達到真正的抑菌除臭功效。<br>
                                    Footer在台灣擁有超過1000個通路據點，更行銷至海外各地，包含香港、澳門、中國、新加坡、馬來西亞、越南等地。至今Footer仍持續拓展產品線，包含男女機能內著、機能鞋墊、瑜珈褲、服飾、毛巾、清潔品等等多樣化產品，期待能更貼近你我的生活，創造舒適的每一天。
                                </p>
                            <p>&nbsp;</p>
                            </div>
                        </li>
                        <li>
                        <div class="partner-logo"><img src="https://www.taipeifreewaymarathon.com/pro_imgs/20221116100047.jpg" alt="森田藥粧股份有限公司"></div>
                            <div class="partner-cont">
                                <h3>森田藥粧股份有限公司</h3>
                                <p>1934年由周灶春先生創辦的森田行，經長達近80餘年的經營，不斷累積與日本合作研發經驗。全力研發面膜及護膚保養品，成就亞洲區值得信賴的品牌—森田Dr.Morita &amp; DR.JOU</p>

                                <p>深耕亞洲、走向全世界，始終堅持製造安全、安心、有效的專業級護膚保養品，秉持一貫的企業精神，品質信賴、專業創新，將這份製造的用心，回饋給全世界的每一位消費者。</p>
                            
                              
                            </div>
                        </li>
                        <li>
                        <div class="partner-logo"><img src="https://www.taipeifreewaymarathon.com/pro_imgs/20221116111627.jpg" alt="台灣雀巢股份有限公司"></div>
                            <div class="partner-cont">
                                <h3>台灣雀巢股份有限公司</h3>
                                <p>雀巢堅信食物的力量可以提升生活品質。</p>

                                <p>美祿迅速補充能量！美祿穀物棒方便隨身攜帶，每根只有95大卡，運動前後來一根，隨時補充能量無負擔！</p>

                                <p>美祿保久乳減糖系列，糖分減少26%，一樣好喝，運動後喝美祿，迅速補充能量！</p>

                            <p>&nbsp;</p>
                            </div>
                        </li>
                        <li>
                        <div class="partner-logo"><img src="https://www.taipeifreewaymarathon.com/pro_imgs/20221116112823.jpg" alt="維他露食品股份有限公司"></div>
                            <div class="partner-cont">
                                <h3>維他露食品股份有限公司</h3>
                                <p>台灣運動飲料領導品牌-舒跑，世界球后戴資穎推薦！</p>

                                <p>運動飲料領導品牌-舒跑，舒跑支持你的每一滴汗水，一起運動紓壓，給你正能量！</p>

                                <p>新一代舒跑，不加果糖，跑完後迅速補充水分及人體所需五大電解質，能更健康、更清爽的補水！舒跑不僅適合運動後飲用，夏天流汗、日常生活中各種身體水分流失的情況時，都可以喝舒跑迅速補充水分電解質。舒跑正滲透壓給你正能量！為持續為付出汗水的你，加油！</p>

                            <p>&nbsp;</p>
                            </div>
                        </li>
                        <li>
                        <div class="partner-logo"><img src="https://www.taipeifreewaymarathon.com/pro_imgs/20221116111936.jpg" alt="全真概念健康事業股份有限公司"></div>
                            <div class="partner-cont">
                                <h3>全真概念健康事業股份有限公司</h3>
                                <p>This is True Living, This is Me Living.</p>

                                <p>True Yoga‧Fitness全真瑜珈健身結合TRUE集團引以自豪的瑜珈與健身專業資源，致力於提供全方位服務，消費者不只可使用健身各項器材及訓練項目，還可選擇多達100種以上各式有氧、瑜珈、皮拉提斯及舞蹈課程，提供整合健康新生活！</p>

                            <p>&nbsp;</p>
                            </div>
                        </li>
                        <li>
                        <div class="partner-logo"><img src="https://www.taipeifreewaymarathon.com/pro_imgs/20230302051112.jpg" alt="摩曼頓"></div>
                            <div class="partner-cont">
                                <h3>摩曼頓</h3>
                                <p>
                                    摩曼頓為台灣專業休閒運動用品通路，販售上萬種運動休閒品牌服飾、鞋款、配件。除了專業運動及登山用品，更積極引進各式潮流時尚運動品牌服飾及鞋款提供不同面相商品給廣大的顧客選擇。<br>
                                    我們期許自己不只是商品的販售者，更是消費者實踐運動生活的好夥伴。從線上社群、APP經營到線下門店人流每年累積超過1億次互動曝光人數，這些都是摩曼頓長期受台灣消費者喜愛的原因。
                                </p>

                            <p>&nbsp;</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </body>
</html>
