<!-- 新增一個div元素 -->
<div id="app">
    <button v-for="size in sizes"
            :class="{ 'selected': size === selectedSize }"
            @@click="selectSize(size)">
        {{ size }}
    </button>
</div>

@section Scripts{
    <script src="https://unpkg.com/vue@3.2.29/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.3/axios.min.js"></script>
    <script>
        // 定義Vue實例
        var webApiBaseAddress = "https://localhost:7040";
        const app = Vue.createApp({
            data() {
                return {
                    sizes: [], // 用來存放從API中取得的sizes
                    selectedSize: null // 用來存放目前選取的size
                }
            },
            mounted() {
                // 在mounted階段取得API中的sizes資料
                axios.get(`${webApiBaseAddress}/api/ProductSize/sizes`).then((response) => {
                    this.sizes = response.data;
                });
            },
            methods: {
                selectSize(size) {
                    // 當點選某個size按鈕時觸發
                    this.selectedSize = size;
                    // 將其他按鈕的selected屬性設為false
                    this.sizes.forEach(item => {
                        if (item !== size) {
                            item.selected = false;
                        }
                    })
                }
            }
        });
        // 綁定Vue實例到HTML元素
        app.mount('#app');
    </script>
}
