@model IEnumerable<The_fifth_group_FinalProject.Models.ForumSectionBranch1Topic>

@{
    ViewData["Title"] = "Index";
}
@{
    <style>
        thead {
            width: 100%;
            text-align: center;
        }

        .replier {
            width: 4em;
        }
    </style>
}


<div id="app">
<table class="table">
    <thead>
        <tr>
            <th>
               文章主題
               @* @Html.DisplayNameFor(model => model.Topic)*@
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Branch)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <a href="https://localhost:7123/ForumSectionBranch1TopicsThread/Index">@Html.DisplayFor(modelItem => item.Topic)</a> 
            </td>
                      
        </tr>
}
    </tbody>
</table>
</div>
