@section Styles{
	
}
	<div id="app">

		<table class="table table-striped  table-hover">
			<thead>
				<tr>
					<td>活動日期</td>
					<td>地區</td>
					<td>賽事/活動</td>
					<td>項目</td>
					<td>名額</td>
					<td>金額</td>
					<td>類別</td>
					<td>地點</td>
					<td>地圖</td>
					<td>簡介</td>
					<td>主辦單位</td>					
					<td>報名截止</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ContestsDTOes.contestDate}}</td>
					<td>{{ContestsDTOes.area}}</td>
					<td>{{ContestsDTOes.name}}</td>
					<td><span class="event-item" v-for="d in ContestsDTOes.distance"> {{d}}K </span> </td>
					<td><span class="event-item" v-for="d in ContestsDTOes.quota"> {{d}} </span> </td>
					<td><span class="event-item" v-for="d in ContestsDTOes.enterFee"> {{d}} </span> </td>
					<td><span class="event-item" v-for="d in ContestsDTOes.categoryName"> {{d}} </span> </td>				
					<td>{{ContestsDTOes.location}}</td>
					<td>{{ContestsDTOes.mapUrl}}</td>
					<td>{{ContestsDTOes.detail}}</td>
					<td>{{ContestsDTOes.supplierName}}</td>					
					<td>{{ContestsDTOes.registrationDeadline}}</td>					
				</tr>
			</tbody>
		</table>
		 
	</div>
	@section Scripts
	{
	<script src="https://unpkg.com/vue@3.2.29/dist/vue.global.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.3/axios.min.js"></script>
	<script>
		var webApiBaseAddress = "https://localhost:7040";
		var vueApp = {
			data() {
				return {					
					ContestsDTOes: [],
				};
			},
			mounted: function () {
				let _this = this;
				_this.getContestsDTOes();
			},
			methods: {
				getContestsDTOes: function (id) {
					var id=location.hash.split('#')[1];
					let _this = this;
					var request = {};
					axios.get(`${webApiBaseAddress}/api/Contests/${id}`, request).then(response => {
						_this.ContestsDTOes = response.data;						
					});
				},				
			},
		};
		var app = Vue.createApp(vueApp).mount("#app");

	</script>
}