@section Styles{
	<style>
		section, h1, h2,h3, ul, li, div,a {
		 margin: 0;
		 padding: 0;
		 border: 0;
		 font-size: 100%;
		 font: inherit;
		 vertical-align: baseline;			
		}
		section{
		 display: block;
		}
		.comp-intro{
		 line-height: 2;
		 color: #95989a;
		 position: relative;
		 z-index: 2;
		 margin-bottom: 30px;
		 padding: 30px
		}
		.shadow-z1 {
		 box-shadow: 1px 1px 1px 0 rgba(34,38,46,.1)
		}
		.card--5 {
         border-radius: 5px;
         background-color: #fff
        }
		.comp-title{
		 margin-bottom: 10px;
         font-size: 30px;
         color: #4c4948;
		 padding-right: 220px
		}
		.comp-groups .groups .stack-data-list {
		 padding: 20px
		}
		.stack-list .stack-column-item + *, .stack-list .stack-row-item + * {
		padding-top: 10px;
		margin-top: 10px;
		border-top: 1px solid #eaecf1
		}
		.stack-list .stack-column-item {
		display: flex;
		align-items: center
		}
		.stack-data-list .data-title {
		flex: none;
		color: #95989a
		}
		.comp-groups .stack-data-list .data-title, .comp-intro .stack-data-list .data-title {
		width: 110px
		}
		.stack-data-list .data-content {
		flex: 1;
		font-size: 16px;
		color: rgb(76, 73, 72);
		}
		.comp-groups .stack-data-list .data-content, .comp-intro .stack-data-list .data-content {
		line-height: 2
		}				
		.comp-brief {
        padding: 10px 0
        }		
		.comp-brief .more-btn {				
		display: block;				
		text-align: center
		}		
		.comp-brief .more-btn {
        display: block;
        text-align: center
		}
		.comp-groups {
		margin-bottom: 15px
		}
		.nake-title {
		margin-bottom: 10px;
		font-size: 22px;
		color: #6f7b8a;
		letter-spacing: 1px
		}
		.comp-groups .groups-list {
		overflow: hidden
		}
		.comp-groups .groups {
		background-color: #fff
		}			
		.comp-groups .groups .groups-title {
		background-color: #f7f7f7;
		padding: 15px 20px;
		font-size: 16px;
		color: #6f7b8a;
		border-top: 1px solid #eaecf1;
		border-bottom: 1px solid #eaecf1;
		cursor: pointer
	    }		
		.comp-groups .groups .groups-detail {
         max-height: 0px;
         overflow: hidden;
         transition: max-height 0.5s ease
        }			
		.comp-groups .groups .active {
         max-height: 500px;
         overflow: hidden;
         transition: max-height 1s ease
        }				
		#app{
			background-color: #e5e9ec
		}
		.myMOUSE {
			cursor: pointer;			
			text-decoration: none
		}		
	</style>
}
	<div id="app">

	<section class="comp-intro shadow-z1 card--5">		
		<h1 class="comp-title">{{ContestsDTOes.name}}</h1>
		<ul class="stack-list stack-data-list">
			<li class="stack-column-item">
				<div class="data-title">活動日期</div>
				<div class="data-content">{{ContestsDTOes.contestDateString}}</div>
			</li>
			<li class="stack-column-item">
				<div class="data-title">主辦單位</div>
				<div class="data-content">{{ContestsDTOes.supplierName}}</div>
			</li>
			<li class="stack-column-item">
				<div class="data-title">地點</div>
				<div class="data-content">{{ContestsDTOes.location}} </div>
			</li>
			<li class="stack-column-item">
				<div class="data-title">地圖</div>
				<div class="data-content" v-html="`<iframe ${ContestsDTOes.mapUrl}></iframe>`"></div>				
			</li>
			<li class="stack-column-item">
				<div class="data-title">其他時程</div>
				<div class="data-content">【報名日期】{{ContestsDTOes.createDateTimeString}} ~ {{ContestsDTOes.registrationDeadlineString}}</div>
			</li>
			<li class="stack-column-item">
				<div class="data-title">相關連結</div>
				<div class="data-content comma-list">					
					<a class="comma-item myMOUSE" @@click="gotoContestRegistration">報名頁面</a>
				</div>
			</li>
			<li class="stack-column-item">
				<div class="data-title">簡介</div>
				<div class="data-content comp-brief">{{ContestsDTOes.detail}}</div>
			</li>
		</ul>
	</section>

	<section class="comp-groups">
		<h2 class="nake-title">項目</h2>			
		<ul class="groups-list shadow-z1 card--5">
			<li class="groups" v-for="(item,index) in ContestsDTOes.categoryGroups" :key="index" @@click="selectgroup(index)">
				<h3 class="groups-title groups_toggle" >
					<i class="fa fa-caret-right toggle-icon"></i>{{item.categoryName}}
				</h3>
				<div class="groups-detail" v-bind:class="{ active: selectedGroupIndex === index }">
					<ul class="stack-list stack-data-list">	
						<li class="stack-column-item">
							<div class="data-title">距離</div>
							<div class="data-content">{{item.distance}}K </div>
						</li>
						<li class="stack-column-item">
							<div class="data-title">名額</div>
							<div class="data-content">{{item.quota}}人 </div>
						</li>
						<li class="stack-column-item">
							<div class="data-title">費用</div>
							<div class="data-content"> {{item.enterFee}}元 </div>
						</li>						
					</ul>
				</div>
			</li>	            
		</ul>
	</section>
	
	</div>
	@section Scripts
	{
	<script src="https://unpkg.com/vue@3.2.29/dist/vue.global.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.3/axios.min.js"></script>
	<script>
		var webApiBaseAddress = "https://localhost:7040";
		var vueApp = {
			data() {
				return {					
					ContestsDTOes:[],					
					selectedGroupIndex:null,
				};
			},
			mounted: function () {
				let _this = this;
				_this.getContestsDTOes();
			},
			methods: {
				getContestsDTOes: function () {
					var id=location.hash.split('#')[1];
					let _this = this;
					var request = {};
					axios.get(`${webApiBaseAddress}/api/Contests/${id}`, request).then(response => {
						_this.ContestsDTOes = response.data;
						_this.ContestsDTOes['contestDateString'] = _this.ContestsDTOes.contestDate.substr(0, 10);
						_this.ContestsDTOes['createDateTimeString'] = _this.ContestsDTOes.createDateTime.substr(0, 10);
						_this.ContestsDTOes['registrationDeadlineString'] = _this.ContestsDTOes.registrationDeadline.substr(0, 10);
					});
				},
				selectgroup:function(index){
					if (this.selectedGroupIndex === index) {
						this.selectedGroupIndex = null;
					} else {
						this.selectedGroupIndex = index;
					}
																 	
				},
				gotoContestRegistration: function () {
					var id = location.hash.split('#')[1];
					window.location = `https://localhost:7123/Contest/ContestRegistration/#${id}`;
				},

			},
		};
		var app = Vue.createApp(vueApp).mount("#app");
	</script>
}