@section Styles{
	<style>
	.event-item {
    position: relative;
    display: inline-block;
    font-size: .8125em;
    color: #191823;
	background-color: #E0E0E0;
    padding: 4px 6px;
    margin: 3px;
    border-radius: 3px;
    }
	.event-item:hover {
	color: white;
	background-color: black;
	}	
	.myMOUSE{ 
	cursor: pointer;
	color:black;
	text-decoration:none	
	}
	.myMOUSE:hover {
	color:black;
	}	
	</style>
}
<div id="app">		
	@*篩選*@
	<div class="row" style="width:40%;margin-left:auto;margin-right:5px">
		<label class="col-lg-7">請輸入地區或活動名稱</label>
		<input class="col-lg-7 form-control m-1" v-model="Filter" placeholder="請輸入地區或活動名稱" />
		<button class="btn btn-outline-primary" @@click="filterContestsDTOs">篩選</button>
	</div>


	<button type="button" class="btn btn-success" @@click="showModal">新增賽事</button>
	<div class="row">
		<div class="col-12 mt-2">
			<table class="table table-striped  table-hover">
				<thead>
					<tr>
						<td>活動日期</td>
						<td>地區</td>
						<td>賽事/活動	</td>
						<td>項目</td>
						<td>活動狀態</td>
					</tr>
				</thead>
				<tbody>
					<tr v-for="item in ContestsDTOes" >
						<td>{{item.contestDateString}}</td>
						<td>{{item.area}}</td>
						<td ><a class="myMOUSE" @@click="selectContest(item.id)">{{item.name}}</a></td>
						<td><span class="event-item" v-for="distance in item.distance"> {{distance}}K </span> </td>
						<td>{{item.status}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	
	<div class="modal fade" id="insertModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">新增賽事/活動</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="container">
						<div class="form-group">
							<label class="form-label">活動名稱:</label>
							<input type="text" class="form-control" v-model="name" />
						</div>
						<div class="form-group">
							<label class="form-label">活動日期:</label>
							<input type="date" class="form-control" v-model="contestDate" :min="todayDate" />
						</div>
						<div class="form-group">
							<label class="form-label">報名截止日:</label>
							<input type="date" class="form-control" 
							v-model="registrationDeadline" :max="contestDate" :min="todayDate" />
						</div>
						<div class="form-group">
							<label class="form-label">活動地區:</label>
							<input type="text" class="form-control" v-model="area" />
						</div>
						<div class="form-group">
							<label class="form-label">活動地點:</label>
							<input type="text" class="form-control" v-model="location" />
						</div>
						<div class="form-group">
							<label class="form-label">地圖資訊:</label>
							<input type="text" class="form-control" v-model="mapUrl" />
						</div>
						<div class="form-group">
							<label class="form-label">活動簡章:</label>							
							<textarea rows="3" class="form-control" v-model="detail"></textarea>
						</div>
						<div>
							<h5  class="mt-3">競賽項目</h5>						
							<div class="form-group">
								<label class="form-label">項目1:</label>							
								<select class="form-control" v-model="categoryId1">
									<option v-for="item in CategoriesDTOes" :value="item.id">
										{{item.category}}{{item.distance}}K</option>
								</select>
							</div>
							<div class="form-group">
								<label class="form-label">名額:</label>
								<input type="text" class="form-control" v-model="quota1" />
							</div>
							<div class="form-group">
								<label class="form-label">金額:</label>
								<input type="text" class="form-control" v-model="enterFee1" />
							</div>
							<div class="form-group mt-2">
								<label class="form-label">項目2:</label>
								<select class="form-control" v-model="categoryId2">
									<option v-for="item in CategoriesDTOes" :value="item.id">
										{{item.category}}{{item.distance}}K</option>
								</select>
							</div>
							<div class="form-group">
								<label class="form-label">名額:</label>
								<input type="text" class="form-control" v-model="quota2" />
							</div>
							<div class="form-group">
								<label class="form-label">金額:</label>
								<input type="text" class="form-control" v-model="enterFee2" />
							</div>
							<div class="form-group mt-2">
								<label class="form-label">項目3:</label>
								<select class="form-control" v-model="categoryId3">
									<option v-for="item in CategoriesDTOes" :value="item.id">
										{{item.category}}{{item.distance}}K</option>
								</select>
							</div>
							<div class="form-group">
								<label class="form-label">名額:</label>
								<input type="text" class="form-control" v-model="quota3" />
							</div>
							<div class="form-group">
								<label class="form-label">金額:</label>
								<input type="text" class="form-control" v-model="enterFee3" />
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-warning" data-bs-dismiss="modal">關閉</button>
					<button type="button" class="btn btn-primary" @@click="insert">新增</button>
				</div>
			</div>
		</div>
	</div>


</div>
@section Scripts
	{
	<script src="https://unpkg.com/vue@3.2.29/dist/vue.global.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.3/axios.min.js"></script>
	<script>
		var webApiBaseAddress = "https://localhost:7040";
		var vueApp = {
			data() {
				return {
					Filter: "",
					ContestsDTOes:[],
					CategoriesDTOes:[],
					id:null,
					name:"",
					todayDate:new Date().toISOString().split('T')[0],
					contestDate: "",
					registrationDeadline: "",
					area: "",
					location: "",
					mapUrl: "",
					detail: "",
					categoryId1: "",
					categoryId2: "",
					categoryId3: "",
					quota1: "",
					quota2: "",
					quota3: "",
					enterFee1:"",
					enterFee2:"",
					enterFee3:"",
					
				};
			},
			mounted: function () {
				let _this = this;
				_this.getContestsDTOes();
			},
			methods: {
				getContestsDTOes: function () {
					let _this = this;
					axios.get(`${webApiBaseAddress}/api/Contests`).then(response => {
						_this.ContestsDTOes = response.data;
						for (var i = 0; i < _this.ContestsDTOes.length; i++)
						{	
							_this.ContestsDTOes[i]['contestDateString']=_this.ContestsDTOes[i].contestDate.substr(0, 10);
							var today = new Date();
							var DeadlineString = _this.ContestsDTOes[i].registrationDeadline.substr(0, 10);
							var registrationDeadline = new Date(DeadlineString);
							if (registrationDeadline > today)
							{
								_this.ContestsDTOes[i]['status'] = `報名中,${DeadlineString}截止`;
							}
							else 
							{								
								_this.ContestsDTOes[i]['status'] = "已截止報名";
						    };
						};
						_this.ContestsDTOes = _this.ContestsDTOes.sort((a, b) => new Date(a.contestDate) - new Date(b.contestDate));
					});
				},

				selectContest: function (id) {
					window.location = `ContestDetail/#${id}`;
				},	
				
				filterContestsDTOs: function () {
					let _this = this;
					var request = {};
					request.Name = _this.Filter;					
					axios.post(`${webApiBaseAddress}/api/Contests/Filter`, request).then(response => {
						_this.ContestsDTOes = response.data;
						for (var i = 0; i < _this.ContestsDTOes.length; i++) {
							_this.ContestsDTOes[i]['contestDateString'] = _this.ContestsDTOes[i].contestDate.substr(0, 10);
							var today = new Date();
							var DeadlineString = _this.ContestsDTOes[i].registrationDeadline.substr(0, 10);
							var registrationDeadline = new Date(DeadlineString);
							if (registrationDeadline > today) {
								_this.ContestsDTOes[i]['status'] = `報名中,${DeadlineString}截止`;
							}
							else {
								_this.ContestsDTOes[i]['status'] = "已截止報名";
							}
						};
						_this.ContestsDTOes = _this.ContestsDTOes.sort((a, b) => new Date(a.contestDate) - new Date(b.contestDate));
					});
				},

				showModal: function () {	
					let _this = this;
					axios.get(`${webApiBaseAddress}/api/Categories`).then(response => {
						_this.CategoriesDTOes = response.data;
					});
					$("#insertModal").modal('show');
				},

				insert:function(){                    
                    var _this=this;
                    var request={};
					request.Id=0;
					request.Name = _this.name;
					request.ContestDate = new Date(_this.contestDate);
					request.RegistrationDeadline = new Date(_this.registrationDeadline);
					request.Area = _this.area;
					request.Location = _this.location;
					request.MapUrl = _this.mapUrl.replace("<iframe ", "").replace("></iframe>", "");
					request.Detail = _this.detail;					
					request.CategoryId = [_this.categoryId1, _this.categoryId2, _this.categoryId3].filter((n)=>n);
					request.Quota = [_this.quota1, _this.quota2, _this.quota3].filter((n) => n);
					request.EnterFee = [_this.enterFee1, _this.enterFee2, _this.enterFee3].filter((n) => n);

					axios.post(`${webApiBaseAddress}/api/Contests`, request).then(response=>{
						alert(response.data);
						window.location = "/Contest/ContestIndex";                    
					});
                }
	        },
		};
		var app = Vue.createApp(vueApp).mount("#app");

	</script>
}