@section Styles{
	<style>
		
	</style>
}
<div id="app">
	<div>
		<div class="modal-header">
			<h1>{{ContestsDTOes.name}}</h1>
		</div>
		<div class="modal-body">
			<div class="form-group">
				<label class="form-label">報名項目:</label>
				<select class="form-control" v-model="categoryId">
					<option v-for="item in CategoriesDTOes" :value="item.id">
					{{item.category}}{{item.distance}}K</option>				
			    </select>
			</div>
			<h5 class="mt-5">參賽資料</h5>		
			<div class="form-group">
				<label class="form-label">姓名:</label>
				<input type="text" class="form-control" v-model="name" />
			</div>
			<div class="form-group">
				<label class="form-label">電話:</label>
				<input type="tel" class="form-control" v-model="phone" />
			</div>
			<div class="form-group" >
				<label class="form-label">姓別:</label><br />
				<input type="radio" name="genderRadio" v-model="gender" value=true> 男
				<input type="radio" name="genderRadio" v-model="gender" value=false> 女
			</div>
			<div class="form-group">
				<label class="form-label">地址:</label>
				<input type="text" class="form-control" v-model="address" />
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-warning" @@click="close">關閉</button>
			<button type="button" class="btn btn-primary" @@click="insert">新增</button>
		</div>
	</div>
</div>
@section Scripts
	{
	<script src="https://unpkg.com/vue@3.2.29/dist/vue.global.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.3/axios.min.js"></script>
	<script>
		var webApiBaseAddress = "https://localhost:7040";
		var vueApp = {
			data() {
				return {
					CategoriesDTOes: [],
					ContestsDTOes:[],
					categoryId:"",
					gender:"",
					name:"",
					phone:"",
					address:"",
				};
			},
			mounted: function () {
				let _this = this;
				_this.getCategoriesDTOes();
				_this.getContestsDTOes();
			},
			methods: {
				getCategoriesDTOes: function () {
					var id = location.hash.split('#')[1];
					let _this = this;
					var request = {};
					axios.get(`${webApiBaseAddress}/api/Categories/${id}`, request).then(response => {
						_this.CategoriesDTOes = response.data;						
					});
				},
				getContestsDTOes: function () {
					var id=location.hash.split('#')[1];
					let _this = this;
					var request = {};
					axios.get(`${webApiBaseAddress}/api/Contests/${id}`, request).then(response => {
						_this.ContestsDTOes = response.data;						
					});
				},
				insert: function () {
					var contestId=location.hash.split('#')[1];
					let _this = this;
					var request={};	
					request.Name = _this.name;
					request.Phone = _this.phone;					
					request.Gender = _this.gender=="true"? true:false
					request.Address = _this.address;
					request.ContestId=contestId;
					request.CategoryId = _this.categoryId;
					request.MemberId=1;					

					axios.post(`${webApiBaseAddress}/api/RegistrationInformations`, request).then(response => {
						alert(response.data);
						window.location = "/Contest/ContestIndex";
					});
				},
				close: function () {
					history.back()
				}
			},
		};
		var app = Vue.createApp(vueApp).mount("#app");
	</script>
}